/* Background/Page. */

* {
    background-color: transparent;
    border: none;
    font-weight: 400;
    color: #212121;
    font-family: Roboto, Arial, 'Open Sans', Lucida Sans Unicode, Calibri, Lucida Sans Unicode, Lucida Sans, Lucida Grande, Futura, Source Sans Pro, Helvetica, Arial, Liberation Sans, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 24px;
    text-decoration: none;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
     width: 100%;
     display: flex;
     flex-direction: column;
     background: #263238;
}

.inner-wrapper {
    width: 85%;
    max-width: 1800px;
    margin: auto;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
}

#content .inner-wrapper {
    position: relative;
    height: 100%;
}

header .inner-wrapper {
    display: flex;
    align-items: center;
}


/* Header. */

header {
     background: #ECEFF1;
     width: 100%;
     z-index: 1;
     border-bottom: 1px solid #eaeaea;
     box-shadow: inset 0px -5px 25px 0px rgba(0, 0, 0, 0.2);
}

h1,
h2,
h3 {
    color: #424242;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: .01em;
    margin: 40px 0 20px;
    padding: 0;
    text-overflow: ellipsis;
    font-family: Karla, Roboto, sans-serif;
}

h1 span,
h2 span,
h3 span {
     display: block;
     color: #757575;
}

h1 {
    margin: 32px 0 32px 0;
}

header h1 {
    color: #424242;
    display: inline-block;
    font-size: 54px;
    font-weight: 400;
    padding-left: 0;
    letter-spacing: 3px;
}

header h1 em {
    font-weight: 500;
    font-style: normal;
    color: #455A64;
}

/* Lists. */

header ul, nav ul, footer ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
}

header ul li, nav ul li, footer ul li {
     float: left;
     vertical-align: middle;
     text-align: center;
}

header ul {
     overflow: auto;
     margin-left: auto; /* Align to the right. */
}

header ul li .button .button-icon {
     font-size: 42px;
     padding: 0;
}

.icon-button {
     padding: 0 20px 0 0;
}

.icon-button a i {
     font-size: 44px;
     color: #B0BEC5;
     -webkit-transition: color 0.2s ease;
     -moz-transition: color 0.2s ease;
     -o-transition: color 0.2s ease;
     transition: color 0.2s ease;
}

.icon-button a i:hover {
     color: #90A4AE;
     transition: color 0.2s ease,
}

/* Navigation. */

nav {
     background: #455A64;
     box-shadow: inset 0px -5px 30px 0px rgba(0, 0, 0, 0.2);
}

nav ul li {
     position: relative;
     padding: 16px 24px;
}

nav ul li a {
     color: #fff;
     display: inline-block;
     font-size: 20px;
     font-weight: 400;
     padding: 8px 12px;
     -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
     -o-transition: all 0.2s ease;
     transition: all 0.2s ease;
}

nav ul li a:hover, nav ul li a.selected {
     color: #455A64;
}

nav ul li a.selected {
     background: #fff;
}

nav ul li a:hover {
     background: #ECEFF1;
}

nav ul li:after, .upload-file + label:before, #upload-area .icon {
     font-family: 'Material Icons';
     font-weight: normal;
     font-style: normal;
     font-size: 28px;
     display: inline-block;
     line-height: 1;
     text-transform: none;
     letter-spacing: normal;
     word-wrap: normal;
     white-space: nowrap;
     direction: ltr;

     /* Support for all WebKit browsers. */
     -webkit-font-smoothing: antialiased;
     /* Support for Safari and Chrome. */
     text-rendering: optimizeLegibility;
     /* Support for Firefox. */
     -moz-osx-font-smoothing: grayscale;
     /* Support for IE. */
     font-feature-settings: 'liga';
}

nav ul li:after {
     content: 'play_arrow';
     color: #fff;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     right: -16px;
}

nav ul li:first-child{
     padding-left: 0;
}

nav ul li:last-child:after{
     content: '';
}

/* Buttons. */

.button {
     background: #2196F3;
     border-bottom: 7px solid #1E88E5;
     border-radius: 7px;
     cursor: pointer;
     -webkit-transition: background-color 0.2s ease;
     -moz-transition: background-color 0.2s ease;
     -o-transition: background-color 0.2s ease;
     transition: background-color 0.2s ease;
     display: inline-block;
}

.button * {
     color: #fff;
     padding: 0;
}

.button-text {
     font-size: 22px;
     padding: 0 0 0 18px;
     display: inline-block;
     float: left;
     line-height: 42px;
}

.button-icon{
     font-size: 32px;
     float: right;
     padding: 5px 12px 5px 6px;
}

.button:hover {
     background: #1E88E5;
}

.reversed-button .button-icon {
     float: left;
     padding: 5px 6px 5px 12px;
}

.reversed-button .button-text {
     float: right;
     padding: 0 18px 0 0;
}

.disabled-button {
     background: #9E9E9E;
     border-color: #757575;
     cursor: default;
}

.disabled-button:hover {
     background: #9E9E9E;
}

.action-button {
     background: #4caf50;
     border-color: #43A047;
}

.action-button:hover {
     background: #43A047;
}

#back-button {
     float: left;
}

#next-button {
     float: right;
}

/* Main area. */

#content {
     background: #fff;
     padding: 24px 0;
}

#content .inner-wrapper h2 {
     font-size: 44px;
     line-height: 1.2em;
     font-weight: 700;
     margin: 20px 0;
}

#content .inner-wrapper h2 span {
     font-size: 20px;
}

#content p {
     margin: 0 0 1em 0;
}

/* Uploads. */

#upload {
     display: flex;
     flex-direction: row;
     position: relative;
     width: 100%;
     margin: 2em 0;
}

#upload-area {
     flex-grow: 1;
     background-color: #EEEEEE;
     min-width: 12em;
     max-width: 24em;
     text-align: center;
     position: relative;
     -webkit-user-select: none; /* Safari. */        
     -moz-user-select: none; /* Firefox. */
     -ms-user-select: none; /* IE10+/Edge. */
     user-select: none; /* Standard. */
}

#upload-area div {
     position: relative;
     top: 50%;
     transform: translateY(-75%); /* Centre the image. */
}

#upload-area div .icon {
     font-size: 7em;
     color: #BDBDBD;
     display: block;
}

#upload-area div #upload-drag-description {
     font-size: 1.5em;
     color: #757575;
     letter-spacing: 0.1em;
     text-transform: uppercase;
     display: block;
}

#upload-statuses {
     display: flex;
     flex-direction: column;
     position: relative;
     background: #fafafa;
     flex-grow: 1;
}

.upload-status {
     flex-grow: 1;
     display: block;
     border-bottom: 3px solid #f5f5f5;
     position: relative;
     padding-right: 2em;
}

.upload-file {
     width: 0.1px;
     height: 0.1px;
     opacity: 0;
     overflow: hidden;
     position: absolute;
     z-index: -1;
}

.upload-file + label:before {
    content: 'add_circle';
    color: #2196F3;
    font-size: 72px;
    position: relative;
    left: 0;
    padding: 12px;
    top: 36px;
    cursor: pointer;
}

.upload-file + label, .upload-subtext {
    position: relative;
}

.upload-file + label {
     top: -28px;
}

.upload-subtext {
     top: -36px;
}

.upload-file + label span {
    font-size: 1.5em;
    font-weight: 400;
    color: #2196F3;
    display: inline-block;
    cursor: pointer;
}

.upload-file + label span em {
    color: #2196F3;
    font-weight: 700;
    font-style: initial;
}

.upload-file:focus + label span,
.upload-file + label:hover span,
.upload-file + label:hover span em,
.upload-file:focus + label span em,
.upload-file:focus + label:before,
.upload-file + label:hover:before {
    color: #1976D2;
}

.upload-subtext {
     display: block;
     text-transform: uppercase;
     letter-spacing: 0.1em;
     color: #bdbdbd;
     padding-left: 96px;
}

.upload-file + label.file-selected:before {
     content: 'check_circle';
     color: #4CAF50;
}

.upload-file + label.file-selected span {
     color: #4CAF50;
}

.upload-file:focus + label.file-selected span,
.upload-file + label.file-selected:hover span,
.upload-file:focus + label.file-selected:before,
.upload-file + label.file-selected:hover:before {
    color: #43A047;
}

/* Toggleable icons. */

td input[type="checkbox"] {
     display: none;
}

.toggle {
     cursor: pointer;
     font-size: 28px;
}

.toggle:after {
     content: 'check_circle';
     color: #4CAF50;
}

.toggle:hover:after {
     color: #43A047;
}

input[type="checkbox"]:checked + label.toggle:after {
     content: 'cancel';
     color: #ff6272;
}

input[type="checkbox"]:checked + label.toggle:hover:after {
     color: #f14f5f;
}

/* Downloads. */

#export-area {
     background: #f5f5f5;
     padding: 24px;
     margin-bottom: 24px;
     display: flex;
     flex-direction: row;
}

#export-button .button-text {
     font-size: 36px;
     line-height: 64px;
}

#export-button .button-icon {
     font-size: 50px;
}

#export-information {
     margin-left: 1.5em;
}

#export-name {
     color: #4caf50;
     display: block;
     font-size: 2em;
     line-height: 1.4em;
}

#export-subtext {
     color: #bdbdbd;
     display: block;
     letter-spacing: 0.1em;
     font-size: 1.5em;
}

/* Footer. */

footer {
     background: #263238;
     border-top: 24px solid #37474F;
}

footer .inner-wrapper {
     height: 100%;
     text-align: center;
}

footer * {
     color: #fff;
}

footer ul {
     display: inline-block;
     padding: 16px 0;
}

footer ul li a {
     text-transform: uppercase;
     font-family: Karla, Roboto, sans-serif;
     font-weight: 700;
     padding: 12px 16px;
     display: inline-block;
     -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
     -o-transition: all 0.2s ease;
     transition: all 0.2s ease;
}

footer ul li a:hover {
     color: #263238;
     background: #fff;
}

/* Rendered graph. */

#grades {
     height: 100%;
     width: 100%;
     min-height: 400px;
     max-height: 1500px;
     margin: 36px 0;
     display: block;
}

#grades h3 {
     font-size: 28px;
     margin: 0 0 0.2em 0;
     line-height: 2em;
}

#grade-boundaries {
    background: #f5f5f5;
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 1em 2em 2em 2em;
}

#graph-container {
     width: 100%;
     height: 100%;
     margin: 0 0 2.5em 0;
     display: block;
     box-sizing: border-box;
}

#canvas-container {
    min-height: 600px;
    max-height: 1500px;
    height: 100%;
    margin-top: 24px;
    display: block;
    box-sizing: border-box;
    clear: both;
}

#questions-heading {
    float: left;
}

#students-heading {
    float: right;
}

#graph-canvas {
     position: relative;
     font-family: Roboto;
}

#grade-boundaries label {
    margin: 1em;
    display: block;
    color: #757575;
    flex-grow: 2;
    white-space: nowrap;
}

#grade-boundary-numbers label:first-child {
    margin-left: 0;
}

#grade-boundary-numbers {
    display: flex;
    flex-direction: row;
}

#grade-boundary-numbers .input-field {
    flex-grow: 1;
}

/* Input fields. */

.input-field, option {
     border-bottom: 2px solid #eceff1;
     box-sizing: border-box;
     display: block;
     font-size: 16px;
     padding: 10px;
     width: 100%;
}

input[type="text"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], select[multiple], select[size], textarea {
     border-radius: 2px;
     color: #212121;
     font: 16px/20px Roboto,sans-serif;
     margin: 0;
     max-width: 100%;
     outline: 0;
     padding: 7px;
     transition: border-color .2s;
     vertical-align: middle;
     background: #fff;
}

input[type="text"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, select[multiple]:disabled, select[size]:disabled, textarea:disabled {
     background: #f7f7f7;
}

.input-field:hover, .input-field:focus {
border-bottom: 2px solid #607d8b;
}

/* Utility. */

.hidden {
    display: none;
}

b {
    font-weight: 700;
}

#content ul li, #content ol li {
    list-style-type: initial;
    margin-left: 1em;
    list-style-position: inside;
}