{% include "header.html" %}
            <h2>Contact
                <span>Contact information for queries.</span>
            </h2>
            <p>
                For queries concerning how the scores are calculated contact Gavin: <a href="gt.brown@auckland.ac.nz"> gt.brown@auckland.ac.nz</a>
            </p>
			<p>
				For queries concerning the software contact Paul: <a href="mailto:paul@cs.auckland.ac.nz">paul@cs.auckland.ac.nz</a>
			</p>
            <section id="error">
                <div>
                    <a class="button reversed-button" id="back-button" href="#" onclick="window.history.back()">
                        <span class="button-icon material-icons">arrow_back</span>
                        <span class="button-text">Go back</span>
                    </a>
                </div>
            </section>
{% include "footer.html" %}