{% include "header.html" %}
            <h2>Export
                <span>Save the final adjusted grades in a Canvas-friendly format.</span>
            </h2>
            <p>
                Instructions on downloading and using the exported files. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <section id="grades">
            </section>
            <a class="button" id="back-button" href="{{ url_for('review_page') }}">
                <span class="button-icon material-icons">arrow_back</span>
                <span class="button-text">Back</span>
            </a>
{% include "footer.html" %}