        </div>
    </div>
    <footer>
        <div class="inner-wrapper">
            <ul>
                <li><a href="#">Help</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </footer>
    <!-- Essential libraries and scripts. -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libraries/promise_polyfill.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/spinner.js') }}"></script>

    {% if upload %}
    <!-- Scripts for uploading files. -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/file_handler.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/upload.js') }}"></script>
    {% endif %}

    {% if questions or review %}
    <!-- Table sorting scripts and styles. -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/sticky_headers.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libraries/sortable.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/row.js') }}"></script>
    <link href="{{ url_for('static', filename='css/sortable.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tables.css') }}" rel="stylesheet">
    {% endif %}

    {% if questions %}
    <!-- Question table scripts. -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/question_row.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/question_handler.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/questions.js') }}"></script>
    {% endif %}

    {% if review %}
    <!-- Student table scripts. -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/student_row.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/student_handler.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/review.js') }}"></script>
    {% endif %}

    {% if grades or confirm %}
    <!-- Chart and visualization scripts. -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/libraries/chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/libraries/annotations.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/divider.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/student_hider.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/double_dot_plot.js') }}"></script>
    <!-- For data processing. -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/row.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/question_row.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/question_handler.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/student_row.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/student_handler.js') }}"></script>
    <!-- For visualization. -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/chart_state.js') }}"></script>
    {% endif %}

    {% if grades %}
    <!-- Visualization initialization scripts. -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/visualize.js') }}"></script>
    {% endif %}

    {% if confirm %}
    <!-- For visualization. -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/sub_chart_state.js') }}"></script>
    <!-- Visualization initialization scripts. -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/confirm.js') }}"></script>
    {% endif %}

    {% if export %}
    <!-- Download scripts. -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/export.js') }}"></script>
    {% endif %}
</body>
</html>