        </div>
    </div>
    <footer>
        <div class="inner-wrapper">
            <ul>
                <li><a href="#">Help</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
    {% if upload %}
    <!-- Scripts for uploading files. -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/file_handler.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/upload.js') }}"></script>
    {% endif %}

    {% if questions or review %}
    <!-- Table sorting scripts and styles. -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/sortable.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/row.js') }}"></script>
    <link href="{{ url_for('static', filename='css/sortable.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tables.css') }}" rel="stylesheet">
    {% endif %}

    {% if questions %}
    <!-- Question table scripts. -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/question_row.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/questions.js') }}"></script>
    {% endif %}

    {% if review %}
    <!-- Question table scripts. -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/student_row.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/review.js') }}"></script>
    {% endif %}

    {% if grades %}
    <!-- Chart and visualization scripts. -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/annotations.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/double_dot_plot.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/visualize.js') }}"></script>
    {% endif %}
</body>
</html>