{% include "header.html" %}
            <h2>Select grade boundaries
                <span>On this page you get to set cut-scores for UoA grades.</span>
            </h2>
            <p>
                On the left of the screen are the items, while the right side shows the distribution of people. Easiest items are at the bottom of the screen, and hardest ones are closest to the top.  Each dot represents x items.
            </p>

            <p>
                People at the bottom of the screen have the lowest performance (they are the weakest students). Those at the top have the highest performance (they are the strongest students). Each dot represents y people.
            </p>

            <p>
                Click on a dot to see which item it is or which person it is.
            </p>
             

            <p>
                Move the sliders for the 3 key grade boundaries to the locations you deem appropriate. It is recommended you look at the items to ensure their content reflects the standards and criteria implied by each grade boundary.
            </p>

            <p>
                <ul>
                    <li>D/C represents the beginning of the C ‘satisfactory’ grade range</li>

                    <li>C/B represents the beginning of the B ‘good’ grade range</li>

                    <li>B/A represents the beginning of the A ‘excellent’ grade range</li>
                </ul>
            </p>

            <p>As you move the slider you will see the colour field below the slider change.</p>

            <p>
                The boundary values you select will be displayed at the bottom of the page on the ability scale which is centered on zero with a standard deviation of one (i.e., a z-score distribution).
            </p>

            <p>
                When you click NEXT the scores will be transformed into the UoA grades and % scores. For example a student on the D/C boundary will get C-, 50%.
            </p>
            <section id="grades">
                <div id="graph-container">
                    <h3 id="questions-heading">Questions</h3>
                    <h3 id="students-heading">Students</h3>
                    <div id="canvas-container">
                        <canvas id="graph-canvas" height="1"></canvas>
                    </div>
                </div>
                <div id="grade-boundaries">
                    <h3>Grades</h3>
                    <form id="grade-boundary-numbers" method="post" action="{{ url_for('review_page') }}" enctype="multipart/form-data">
                        <label for="ab-boundary">A/B boundary</label><input type="text" class="input-field" id="ab-boundary" name="ab-boundary" value="{{ ab }}">
                        <label for="bc-boundary">B/C boundary</label><input type="text" class="input-field" id="bc-boundary" name="bc-boundary" value="{{ bc }}">
                        <label for="cd-boundary">C/D boundary</label><input type="text" class="input-field" id="cd-boundary" name="cd-boundary" value="{{ cd }}">
                        <input type="submit" id="submit-form" class="hidden" />
                    </form>
                </div>
            </section>
            <a class="button reversed-button" id="back-button" href="{{ url_for('questions_page') }}">
                <span class="button-icon material-icons">arrow_back</span>
                <span class="button-text">Back</span>
            </a>
            <label class="button" id="next-button" for="submit-form">
                <span class="button-text">Next</span>
                <span class="button-icon material-icons">arrow_forward</span>
            </label>
{% include "footer.html" %}