{% include "header.html" %}
            <h2>Select grade boundaries
                <span>Subtitle describing this page.</span>
            </h2>
            <p>
                Instructions on selecting grade boundaries. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <section id="grades">
                <div id="graph-container">
                    <h3 id="questions-heading">Questions</h3>
                    <h3 id="students-heading">Students</h3>
                    <div id="canvas-container">
                        <canvas id="graph-canvas"></canvas>
                    </div>
                </div>
                <div id="grade-boundaries">
                    <h3>Grades</h3>
                    <form id="grade-boundary-numbers" method="post" action="{{ url_for('review_page') }}" enctype="multipart/form-data">
                        <label for="ab-boundary">A/B boundary</label><input type="text" class="input-field" id="ab-boundary" name="ab-boundary" value="{{ ab }}">
                        <label for="bc-boundary">B/C boundary</label><input type="text" class="input-field" id="bc-boundary" name="bc-boundary" value="{{ bc }}">
                        <label for="cd-boundary">C/D boundary</label><input type="text" class="input-field" id="cd-boundary" name="cd-boundary" value="{{ cd }}">
                        <input type="submit" id="submit-form" class="hidden" />
                    </form>
                </div>
            </section>
            <a class="button reversed-button" id="back-button" href="{{ url_for('questions_page') }}">
                <span class="button-icon material-icons">arrow_back</span>
                <span class="button-text">Back</span>
            </a>
            <label class="button" id="next-button" for="submit-form">
                <span class="button-text">Next</span>
                <span class="button-icon material-icons">arrow_forward</span>
            </label>
{% include "footer.html" %}