<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Tool title</title>
	<meta content="initial-scale=1.0" name="viewport">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    {% if questions or review %}
    <!-- Table sorting scripts and styles. -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/sortable.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/sortable.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tables.css') }}" rel="stylesheet">
    {% endif %}

    {% if grades %}
    <!-- Chart and visualization scripts. -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/chart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dot_plot.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/annotations.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/visualize.js') }}"></script>
    {% endif %}
</head>
<body>
	<header>
        <div class="inner-wrapper">
            <h1 id="title">Tool Title</h1>
            <ul>
                <li id="help-button" class="icon-button">
                    <a href="#" title="Help">
                        <i class="material-icons">help</i>
                    </a>
                </li>
                <li id="settings-button" class="icon-button">
                    <a href="#" title="Settings">
                        <i class="material-icons">settings</i>
                    </a>
                </li>
                <li>
                    <button class="button">
                        <span class="button-text">Login</span>
                        <span class="button-icon material-icons">navigate_next</span>
                    </button>
                </li>
            </ul>
        </div>
    </header>
    <nav>
        <div class="inner-wrapper">
          <ul>
            <li><a href="{{ url_for('upload_page') }}" class="{{'selected' if upload }}">Upload</a></li>
            <li><a href="{{ url_for('questions_page') }}" class="{{'selected' if questions }}">Questions</a></li>
            <li><a href="{{ url_for('grades_page') }}" class="{{'selected' if grades }}">Grades</a></li>
            <li><a href="{{ url_for('review_page') }}" class="{{'selected' if review }}">Review</a></li>
            <li><a href="{{ url_for('export_page') }}" class="{{'selected' if export }}">Export</a></li>
          </ul>
        </div>
    </nav>
    <div id="content">
        <div class="inner-wrapper">