<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SmartStandardSet</title>
	<meta content="initial-scale=1.0" name="viewport">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
	<header>
        <div class="inner-wrapper">
            <a href="{{ url_for('upload_page') }}"><h1 id="title">Smart<em>Standard</em>Set</h1></a>
            <ul>
                <li id="help-button" class="icon-button">
                    <a href="/formats" title="Help">
                        Help
						<i class="material-icons">help</i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Preload the loading icon. -->
        <img src="/static/loading.svg" class="hidden">
    </header>
    <nav>
        <div class="inner-wrapper">
          <ul>
            <li><a href="{{ url_for('upload_page') }}" class="{{'selected' if upload }}">Upload</a></li>
            <li><a href="{{ url_for('questions_page') }}" class="{{'selected' if questions }}">Questions</a></li>
            <li><a href="{{ url_for('grades_page') }}" class="{{'selected' if grades }}">Grades</a></li>
            <li><a href="{{ url_for('confirm_page') }}" class="{{'selected' if confirm }}">Confirm grades</a></li>
            <li><a href="{{ url_for('review_page') }}" class="{{'selected' if review }}">Review</a></li>
            <li><a href="{{ url_for('export_page') }}" class="{{'selected' if export }}">Export</a></li>
          </ul>
        </div>
    </nav>
    <div id="content">
        <div class="inner-wrapper">