{% include "header.html" %}
            <h2>Upload files
                <span>Preparing your test for analysis.</span>
            </h2>
            <p>
                You can drag &amp; drop files or select files from your computer.
            </p>
            <p>
                Two files are required:
                <ol>
                    <li><b>Student test data</b> file contains answers each student gave for each item. Use a CSV format. Each student goes on a separate row and each answer is separated by commas from the next question.
                    </li>
                    <li><b>Test version/Answer</b> file contains the correct answers for each item. Use a CSV format. If your test was scanned by the examination office the answer file should be in the format A=01, B=02, C=04, D=08, E=16, with a comma separating each question. If the items are already pre-scored as (0=wrong, 1=right), your answer key will be 1,1,1,… for each item in the test.
                    </li>
                </ol>
            </p>
            <p>
                <b>Question text</b> is an optional file that contains the text for each item.
            </p>
            <section id="upload">
                <form id="upload-statuses" method="post" action="{{ url_for('questions_page') }}" enctype="multipart/form-data">
                    <h3>Choose your format</h3>
                    <div id="upload-formats">
                        <input type="radio" class="upload-format-box" id="file-type-prescored" name="file-type" value="prescored" checked>
                        <label for="file-type-prescored" class="upload-card upload-format">
                            <h4>Prescored CSV</h4>
                            <p>One prescored CSV file with question right/wrong only.</p>
                        </label>
                        <input type="radio" class="upload-format-box" id="file-type-answer-response" name="file-type" value="response-answer">
                        <label for="file-type-answer-response" class="upload-card upload-format">
                            <h4>Response &amp; answer</h4>
                            <p>One fixed-width student response file.</p>
                            <p>One tab-delimited answer file.</p>
                        </label>
                        <input type="radio" class="upload-format-box" id="file-type-other" name="file-type" value="">
                        <label for="file-type-other" class="upload-card upload-format">
                            <h4>[Pending format]</h4>
                            <p>Description of a pending format here.</p>
                        </label>
                    </div>
                    <div id="upload-cards">
                        <div class="upload-status upload-card" id="upload-csv">
                            <input type="file" name="file-prescored-data" id="file-prescored-data" class="upload-file" />
                            <label for="file-prescored-data" id="label-prescored-data"><span><em>Choose</em> a prescored CSV file</span></label>
                            <span class="upload-drag-supported">or drag and drop</span>
                            <span class="upload-subtext">Required</span>
                        </div>
                        <div class="upload-status upload-card hidden" id="upload-response">
                            <input type="file" name="file-student-data" id="file-student-data" class="upload-file" />
                            <label for="file-student-data" id="label-student-data"><span><em>Choose</em> a student response file</span></label>
                            <span class="upload-drag-supported">or drag and drop</span>
                            <span class="upload-subtext">Required</span>
                        </div>
                        <div class="upload-status upload-card hidden" id="upload-answer">
                            <input type="file" name="file-version-data" id="file-version-data" class="upload-file" />
                            <label for="file-version-data" id="label-version-data"><span><em>Choose</em> an answer key file</span></label>
                            <span class="upload-drag-supported">or drag and drop</span>
                            <span class="upload-subtext">Required</span>
                        </div>
                        <div class="upload-status upload-card" id="upload-text">
                            <input type="file" name="file-question-data" id="file-question-data" class="upload-file" />
                            <label for="file-question-data" id="label-question-data"><span><em>Choose</em> a question text file</span></label>
                            <span class="upload-drag-supported">or drag and drop</span>
                            <span class="upload-subtext">Optional</span>
                        </div>
                    </div>
                    <input type="submit" id="submit-form" class="hidden" />
                </form>
            </section>
            <label class="button disabled-button" id="next-button" for="">
                <span class="button-text">Next</span>
                <span class="button-icon material-icons">arrow_forward</span>
            </label>
{% include "footer.html" %}