{% include "header.html" %}
            <h2>Upload files
                <span>Subtitle describing this page.</span>
            </h2>
            <p>
                Instructions on uploading student data files. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <section id="upload">
                <div id="upload-area">
                    <div>
                        <i class="icon">
                            cloud_upload
                        </i>
                        <span id="upload-drag-description">
                            Drop files here
                        </span>
                    </div>
                </div>
                <form id="upload-statuses" method="post" action="{{ url_for('questions_page') }}" enctype="multipart/form-data">
                    <div class="upload-status">
                        <input type="file" name="file-student-data" id="file-student-data" class="upload-file" />
                        <label for="file-student-data" id="label-student-data"><span><em>Choose</em> a student test data file</span></label>
                        <span class="upload-subtext">Required</span>
                    </div>
                    <div class="upload-status">
                        <input type="file" name="file-version-data" id="file-version-data" class="upload-file" />
                        <label for="file-version-data" id="label-version-data"><span><em>Choose</em> a test version/answer file</span></label>
                        <span class="upload-subtext">Required</span>
                    </div>
                    <div class="upload-status">
                        <input type="file" name="file-question-data" id="file-question-data" class="upload-file" />
                        <label for="file-question-data" id="label-question-data"><span><em>Choose</em> a question text file</span></label>
                        <span class="upload-subtext">Optional</span>
                    </div>
                    <input type="submit" id="submit-form" class="hidden" />
                </form>
            </section>
            <label class="button disabled-button" id="next-button" for="">
                <span class="button-text">Next</span>
                <span class="button-icon material-icons">arrow_forward</span>
            </label>
{% include "footer.html" %}