{% include "header.html" %}
            <h2>Analyze questions
                <span>Describing the statistical quality of each test question.</span>
            </h2>
            <p>
                Your items have been automatically analysed and poor quality items have been identified.
                <ul>
                    <li>Any items with negative discrimination are flagged in RED. You have the right to over-ride the recommendation to remove the item, but this would be considered unusual and not normal practice.</li>

                    <li>Any items that 100% of students got right OR wrong, have already been removed from further analysis.  You may not add them back into the test.</li>
                </ul>
            </p>
            <p>
                Once you select NEXT, student performance and item difficulty will be re-calculated without the poor quality items.
            </p>
            <form id="questions" method="post" action="{{ url_for('grades_page') }}" enctype="multipart/form-data">
                <table class="sortable-theme-minimal sorted-table" id="questions-table" data-sortable>
                    <thead>
                        <tr>
                            <th data-sortable-type="numeric">Number</th>
                            <th data-sortable="false">Question data</th>
                            <th data-sortable-type="numeric">% Correct</th>
                            <th data-sortable-type="numeric">Discrimination</th>
                            <th data-sortable-type="numeric">Item weight</th>
                            <th data-sortable="false">Keep / Discard</th>
                        </tr>
                    </thead>
                    <tbody id="question-body">
                    </tbody>
                </table>
                <input type="submit" id="submit-form" class="hidden" />
            </form>
            <a class="button reversed-button" id="back-button" href="{{ url_for('upload_page') }}">
                <span class="button-icon material-icons">arrow_back</span>
                <span class="button-text">Back</span>
            </a>
            <label class="button" id="next-button" for="submit-form">
                <span class="button-text">Next</span>
                <span class="button-icon material-icons">arrow_forward</span>
            </label>
{% include "footer.html" %}