{% include "header.html" %}
            <h2>Analyze questions
                <span>Describing the statistical quality of each test question.</span>
            </h2>
            {% if data %}
            <table id="statistics-table" class="summary-table">
                <tr class="neutral">
                    <td class="table-icon good table-icon-up">check_circle</td><td>You've uploaded <span class="table-statistic-number" id="num-files">{{ data['num_files'] }}</span><span class="table-statistic-number">files</span></td>
                </tr>
                <tr class="neutral">
                    <td class="table-icon good table-icon-up">check_circle</td><td>Analysis has been done on <span class="table-statistic-number" id="num-students">{{ data['num_students'] }}</span> <span class="table-statistic-number">students</span> and <span class="table-statistic-number" id="num-questions">{{ data['num_questions'] }}</span> <span class="table-statistic-number">questions</span></td>
                </tr>
                <tr class="neutral">
                    <td class="table-icon good table-icon-up">check_circle</td><td>Students are from <span class="table-statistic-number" id="first-student">{{ data['first_student'] }}</span> to <span class="table-statistic-number" id="last-student">{{ data['last_student'] }}</span></td>
                </tr>
                {% if versions %}
                <tr class="neutral">
                    <td class="table-icon good table-icon-up">check_circle</td><td>Versions detected in the answer key are <span class="table-statistic-number" id="versions-answer">{{ data['versions_answer_key'] }}</span> and versions detected in the students are <span class="table-statistic-number" id="versions-students">{{ data['versions_students'] }}</span></td>
                </tr>
                {% endif %}
            </table>
            {% endif %}
            <p>
                Your items have been automatically analysed and poor quality items have been identified.
                <ul>
                    <li>Any items with negative discrimination are flagged in RED. You have the right to over-ride the recommendation to remove the item, but this would be considered unusual and not normal practice.</li>

                    <li>Any items that 100% of students got right OR wrong, have already been removed from further analysis.  You may not add them back into the test.</li>
                </ul>
            </p>
            <p>
                Once you select NEXT, student performance and item difficulty will be re-calculated without the poor quality items.
            </p>
            <form id="questions" method="post" action="{{ url_for('grades_page') }}" enctype="multipart/form-data">
                <table class="sortable-theme-minimal sorted-table sticky-table" id="questions-table" data-sortable>
                    <thead>
                        <tr>
                            <th data-sortable-type="numeric" class="tooltip-wrapper">Number</th>
                            <th data-sortable="false" class="tooltip-wrapper">Question text</th>
                            <th data-sortable-type="numeric" class="tooltip-wrapper">% Correct<span class="tooltip">The total percent % correct based on raw scores.</span></th>
                            <th data-sortable-type="numeric" class="tooltip-wrapper">Discrimination<span class="tooltip">Discrimination parameter is an index of how well a MCQ item differentiates between low and high performing test-takers.<br>It ranges from negative to positive values. Negative values mean an item is easier for low-performing students than high-performing ones; these items are recommended for deletion.<br>The stronger the positive value, the more the high-performing students are likely to get the item right compared to low-performing students.</span></th>
                            <th data-sortable-type="numeric" class="tooltip-wrapper">Item weight<span class="tooltip">Item weight is the statistical analysis of the MCQ item difficulty based on examinees’ responses. It typically ranges from +3 (hard item) to -3 (easy item), with 0 being the average difficulty.<br>The difficulty of an item describes where the item functions along the ability scale. A hard item means the probability of getting it right is &lt;50% for all students with an ability score less than the item’s difficulty location. An easy item will have &gt;50% of being answered correctly by students with an ability score greater than the item’s difficulty.</span></th>
                            <th data-sortable="false" class="tooltip-wrapper">Keep / Discard<span class="tooltip">This is the recommendation for each item. However, you may choose to keep or discard MCQ item(s) according to your judgment.</span></th>
                        </tr>
                    </thead>
                    <tbody id="question-body">
                    </tbody>
                </table>
                <input type="submit" id="submit-form" class="hidden" />
            </form>
            <a class="button reversed-button" id="back-button" href="{{ url_for('upload_page') }}">
                <span class="button-icon material-icons">arrow_back</span>
                <span class="button-text">Back</span>
            </a>
            <label class="button" id="next-button" for="submit-form">
                <span class="button-text">Next</span>
                <span class="button-icon material-icons">arrow_forward</span>
            </label>
{% include "footer.html" %}