{% include "header.html" %}
            <h2>Review changes to students
                <span>This page allows you to see the impact on students based on the moderated standards you set on the previous screen.</span>
            </h2>
            <p>
                The table is sortable by any of the columns. All students who answered the same items correctly, not the same number of items, will get the same score. Only students who answered harder questions will get higher scores.
            </p>

            <p>
                If you believe the grade values or percentage scores do not properly reflect the quality of student performance, click BACK and move the grade boundary markers.
            </p>

            <p>
                If you believe the recommended grades and percentage scores are a valid reflection of the quality of student performance, click NEXT to prepare a downloadable score file.
            </p>
            <section id="review">
                <h3>Summary</h3>
                <table id="statistics-table">
                    <tr class="neutral">
                        <td class="table-icon good table-icon-up">trending_up</td><td class="table-grade">spellcheck</td><td><span class="table-statistic-number" id="grade-+2">0</span>up 2 or more grades</td>
                        <td class="table-icon good table-icon-down">trending_up</td><td class="table-percentage">%</td><td><span class="table-statistic-number" id="percentage-+2">0</span>up 7.5%+</td></tr>
                    <tr class="neutral">
                        <td class="table-icon good table-icon-up">trending_up</td><td class="table-grade">spellcheck</td><td><span class="table-statistic-number" id="grade-+1">0</span>1 grade</td>
                        <td class="table-icon good table-icon-down">trending_up</td><td class="table-percentage">%</td><td><span class="table-statistic-number" id="percentage-+1">0</span>up 2.5 - 7.5%</td></tr>
                    <tr class="neutral">
                        <td class="table-icon neutral table-icon-neutral">trending_flat</td><td class="table-grade">spellcheck</td><td><span class="table-statistic-number" id="grade-0">0</span>the same grade</td>
                        <td class="table-icon neutral table-icon-down">trending_flat</td><td class="table-percentage">%</td><td><span class="table-statistic-number" id="percentage-0">0</span>&plusmn; 2.5%</td></tr>
                    <tr class="neutral">
                        <td class="table-icon poor table-icon-down">trending_down</td><td class="table-grade">spellcheck</td><td><span class="table-statistic-number" id="grade--1">0</span>1 grade</td>
                        <td class="table-icon poor table-icon-down">trending_down</td><td class="table-percentage">%</td><td><span class="table-statistic-number" id="percentage--1">0</span>down 2.5 - 7.5%</td></tr>
                    <tr class="neutral">
                        <td class="table-icon poor table-icon-down">trending_down</td><td class="table-grade">spellcheck</td><td><span class="table-statistic-number" id="grade--2">0</span>2 or more grades</td>
                        <td class="table-icon poor table-icon-down">trending_down</td><td class="table-percentage">%</td><td><span class="table-statistic-number" id="percentage--2">0</span>down 7.5%+</td></tr>
                </table>
                <h3>Students</h3>
                <table class="sortable-theme-minimal sorted-table sticky-table" id="students-table" data-sortable>
                    <thead>
                        <tr>
                            <th>Student ID</th>
                            <th data-sortable-type="numeric">Raw %</th>
                            <th data-sortable-type="grade">Raw grade</th>
                            <th data-sortable-type="numeric">Analyzed %</th>
                            <th data-sortable-type="numeric">Analyzed location</th>
                            <th data-sortable-type="numeric">Recommended %</th>
                            <th data-sortable-type="grade">Recommended grade</th>
                        </tr>
                    </thead>
                    <tbody id="student-body">
                    </tbody>
                </table>
            </section>
            <a class="button reversed-button" id="back-button" href="{{ url_for('grades_page') }}">
                <span class="button-icon material-icons">arrow_back</span>
                <span class="button-text">Back</span>
            </a>
            <a class="button" id="next-button" href="{{ url_for('export_page') }}">
                <span class="button-text">Next</span>
                <span class="button-icon material-icons">arrow_forward</span>
            </a>
{% include "footer.html" %}