{% include "header.html" %}
            <h2>Review changes to students
                <span>Subtitle describing this page.</span>
            </h2>
            <p>
                Instructions on how to interpret data on this page. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <section id="review">
                <table class="sortable-theme-minimal sorted-table" data-sortable>
                    <thead>
                        <tr>
                            <th>Student</th>
                            <th>IRT score</th>
                            <th>Raw score</th>
                            <th>New score</th>
                            <th>Raw grade</th>
                            <th>New grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="poor">
                            <td>abc123</td>
                            <td>2.0</td>
                            <td>87</td>
                            <td>80</td>
                            <td>A</td>
                            <td>A-</td>
                        </tr>
                        <tr class="good">
                            <td>def456</td>
                            <td>1.8</td>
                            <td>79</td>
                            <td>83</td>
                            <td>B+</td>
                            <td>A-</td>
                        </tr>
                        <tr class="neutral">
                            <td>ghi910</td>
                            <td>2.3</td>
                            <td>90</td>
                            <td>91</td>
                            <td>A+</td>
                            <td>A+</td>
                        </tr>
                        <tr class="good">
                            <td>jkl111</td>
                            <td>0.3</td>
                            <td>63</td>
                            <td>66</td>
                            <td>B-</td>
                            <td>B</td>
                        </tr>
                        <tr class="neutral">
                            <td>mno213</td>
                            <td>0.1</td>
                            <td>71</td>
                            <td>70</td>
                            <td>B</td>
                            <td>B</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <a class="button reversed-button" id="back-button" href="{{ url_for('grades_page') }}">
                <span class="button-icon material-icons">arrow_back</span>
                <span class="button-text">Back</span>
            </a>
            <a class="button" id="next-button" href="{{ url_for('export_page') }}">
                <span class="button-text">Next</span>
                <span class="button-icon material-icons">arrow_forward</span>
            </a>
{% include "footer.html" %}